/*-------------------------\
    *VARIABLES
\-------------------------*/
:root {
    --ff-inter: 'Inter', sans-serif;
    --primary: #518581;
    --secondary: #FFB23F;
    --white: #FFF;
    --title: #151411;
    --gray: #AFADB5;
    --light-gray: #F3F3F3;
    --placeholder: #F9F9F9;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
    box-sizing: border-box;
}

/*-------------------------\
    *RESET
\-------------------------*/
*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    max-width: 1400px;
    margin-inline: auto;
    font-size: 1.4rem;
    line-height: 1.3;
    font-family: var(--ff-inter);
    color: var(--title);
    background-color: var(--white);
}

@media screen and (min-width: 48em) {
    body {
        font-size: 1.8rem;
    }
}

a,
img,
span,
input,
button {
    display: block;
}

img {
    width: 100%;
}

button,
input {
    border: none;
    color: inherit;
    background-color: inherit;
}
button { width: 100%; }
button:hover {
    cursor: pointer;
}

ul { list-style: none; }

a { 
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 1.3;
    color: var(--gray);
    font-weight: var(--fw-500);
}


/*-------------------------\
    *REUSED
\-------------------------*/

.container {
    padding: 20px 24px;
}


.container-inline {
    padding: 0 24px;
}
@media screen and (min-width: 62em) {
    .container {
        padding: 45px 100px;
    }
    .container-inline {
        padding: 0 100px;
    }
}
.primary {
    background-color: var(--primary);
    padding: 10px 26px;
    color: #FFF;
    font-weight: var(--fw-700);
}

.section {
    margin-bottom: 100px;
}

@media screen and (min-width: 48em) {
    .section {
        margin-bottom: 180px;
    }
    
}

.secondary {
    color: var(--secondary);
    font-weight: var(--fw-700);
    margin-bottom: 8px;
}

.h1 {
    font-size: 2.6rem;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (min-width: 48em) {
    .h1 {
        font-size: 6.4rem;
    }
}

.h3 {
    font-size: 2.4rem;
    margin-bottom: 16px;
}

@media screen and (min-width: 48em) {
    .h3 {
        font-size: 4.4rem;
    }
}

.h6 { 
    font-size: 1.6rem; 
    font-weight: var(--fw-700);
}
@media screen and (min-width: 48em) {
    .h6 {
        font-size: 2.4rem;
    }
}
.text-center {
    text-align: center;
}

.text-white, .text-white * { color: var(--white)};

.carousel {
    margin-top: 50px;
}

.carousel__inner {
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding-block-end: 20px;
    padding-inline: 20px;
    scroll-snap-type: inline proximity;
}

.carousel__inner::-webkit-scrollbar {
    display: none;
}

.carousel__inner > * {
    flex: 1;
}
.carousel__inner .carousel-item {
    min-width: calc(50% - 10px);
    scroll-snap-align: center;
}
.carousel img {
    width: 220px;
    height: 194px;
}

@media screen and (min-width: 48em) {
    .carousel img {
        width: 394px;
        height: 360px;
    }
}

.carousel figcaption {
    margin-top: 14px;
}

@media screen and (min-width: 48em) {
    .row {
        display: flex;
        flex-direction: row !important;
    }

    .row > .column {
        flex: 1;
    }
}

/*-------------------------\
    *HEADER
\-------------------------*/

.header {
    width: 100%;
    min-height: 1px;
    border-bottom: 2px solid var(--light-gray);
    margin-bottom: 50px;
    
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: var(--fw-700);
}

.logo-img img {
    width: 42px;
    height: 42px;
}

.nav-open, 
.nav-close {
    position: absolute;
    top: 25px;
    right: 24px;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
}

@media screen and (min-width: 48em) {
    .nav-open, 
    .nav-close { display: none; }
}

.nav-close { transform: rotate(45deg);}



.navbar {
    position: fixed;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: .5s ease;
    z-index: 1;
    background-color: var(--white);
    
}

@media screen and (min-width: 48em) {
    .navbar {
        position: static;
        visibility: visible;
    }
}

.navbar.active {
    visibility: visible;
    top: 0;
    transition: .5s ease-in-out;
}

@media screen and (min-width: 48em) {
    .navbar-list {
        display: flex;
        gap: 60px;
        justify-content: space-between;
    }
}

.navbar-item {
    margin-block: 30px;
    font-size: 2.5rem;
    font-weight: var(--fw-500);
}

@media screen and (min-width: 48em) {
    .navbar-item {
        margin-block: 0;
        font-size: 1.8rem;
    }
    .navbar-item.active {
        color: var(--primary);
    }
    .navbar-item.active::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -2px;
        width: 70px;
        height: 2px;
        background-color: var(--primary);
    }
}

.navbar-link:hover {
    color: var(--primary);
    transition: color .5s linear;
}

.nav-extra { display: none; }
@media screen and (min-width: 48em) {
    .nav-extra { display: flex; }
}
.nav-extra img {
    width: 30px;
    height: 30px;
}

.nav-extra-list {
    display: flex;
    gap: 24px;
}

/*-------------------------\
    *DISCOVER SECTION
\-------------------------*/
.discover {
    position: relative;
}

.discover p {
    text-align: center;
}

.discover .main-title > *:not(.h1) {
    margin-bottom: 30px;
}


@media screen and (min-width: 48em) {
    .main-title {
        width: 70%;
        margin-inline: auto;
        z-index: 5;
    }
}


.discover .container-inline > *:last-child {
    margin-bottom: 0;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    z-index: 5;
}

@media screen and (min-width: 48em) {
    .input-wrapper {
        gap: 90px;
    }
}

.input-wrapper input {
    background-color: var(--white);
    padding-inline: 16px;
    width: 70%;
}

.input-wrapper input:focus {
    outline: 1px solid var(--primary);
    border-radius: 3px;
}

.input-wrapper button {
    padding: 10px 26px;
    flex: 1;
}

.discover-img {
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
}

@media screen and (min-width: 48em) {
    .discover-img {
        position: relative;
        height: 480px;
        margin-top: -60px;
    }
    
}

/*-------------------------\
    *BENEFITS
\-------------------------*/

.benefits .h3 {
    line-height: 1;
}

.benefit-item {
    box-shadow: var(--box-shadow);
    padding: 16px;
    margin-top: 30px;
}

@media screen and (min-width: 48em) {
    .benefit-item {
        padding: 26px 23px;
    }
}

.benefit-icon-wrapper {
    width: 44px;
    height: 44px;
    padding: 10px;
    background-color: #F9F9F9;
    border-radius: 50%;
    margin-bottom: 14px;
}

.benefit-item .h6 { margin-bottom: 6px; }

@media screen and (min-width: 48em) {
    .benefits-content { gap: 30px; }
}

/*-------------------------\
    *POPULAR PRODUCT
\-------------------------*/
.popular-product .title {
    margin-block-end: 30px;
}

@media screen and (min-width: 48em) {
    .popular-product .title {
        width: 60%;
        margin-inline: auto;
        text-align: center;
    }
}

.product-name {
    margin-bottom: 6px;
    font-size: 1.2rem;
    font-weight: var(--fw-700);
}

.product-title {
    margin-bottom: 4px;
    font-weight: var(--fw-700);
}

.product-text {
    margin-bottom: 12px;
    font-size: 1.4rem;
    font-weight: var(--fw-500);
}

.product-price {
    font-size: 1.6rem;
    font-weight: var(--fw-700);
}
@media screen and (min-width: 48em) {
    .product-name,.product-text {font-size: inherit; }
    .product-title { font-size: 2.6rem; }
    .product-price { font-size: 2.4rem; }
}
/*-------------------------\
    *OUR PRODUCT
\-------------------------*/

.our-product .row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media screen and (min-width: 48em) {
    .our-product .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    button { width: max-content;}
}
.our-product .title p,
.our-product button { margin-bottom: 30px; }

.number-list {
    padding-bottom: 50px;
    display: flex;
    gap: 20px;
    text-align: center;
}
@media screen and (min-width: 48em) {
    .number-list {
        justify-content: center;
    }
}
.number { 
    font-size: 2.2rem;
    font-weight: var(--fw-700);
    margin-bottom: 4px;
}

.number-title { font: var(--fw-500); }

@media screen and (min-width: 48em) {
    .our-product-title-img img {
        height: 260px;
        object-fit: cover;
    }

    .our-product-list-img img {
        height: 510px;
        
    }
}
/*-------------------------\
    *CUSTOMERS
\-------------------------*/

.customers .carousel {
    margin-top: 0;
}
.customers .carousel__inner {
    padding-block-start: 30px;
}

@media screen and (min-width: 48em) {
    .customers .carousel__inner {
        scroll-snap-type: none;
    }
}

.card {
    min-width: 90% !important;
    box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
    padding: 16px;
    scroll-snap-align: start;
}

@media screen and (min-width: 48em) {
    .card {
        min-width: 40% !important;
        padding: 24px;
    }
}

.card img {
    width: 100%;

}
.card-user-info {
    display: flex;
    justify-content: space-between;
}

.card-user-info > * { 
    display: flex; 
    align-items: center;
    gap: 10px;
    margin-top: 18px;

}

.card-user-info img {
    width: 28px;
    height: 28px;
}

.card-user-mark img {
    width: 24px;
    height: 24px;
}

.card span {
    font-weight: var(--fw-700);
}

@media screen and (min-width: 48em) {
    .customers .title { 
        width: 70%;
        margin-inline: auto;
    }
}
/*-------------------------\
    *ARTICLES
\-------------------------*/

@media screen and (min-width: 48em) {
    .articles .row { display: block; }
}
@media screen and (min-width: 62em) {
    .articles .row { display: flex; }
}

.articles .title { margin-bottom: 30px; }

.articles .column:first-child {
    margin-bottom: 20px;
}

@media screen and (min-width: 48em){
    .articles .column:first-child {
        margin-bottom: 0;
    }
    
}

.articles figure { display: flex; }

.hero {
    position: relative;
    height: 200px;
    background-image: url('../images/article-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    padding: 18px 14px;
    margin-block-end: 30px;
}

@media screen and (min-width: 48em) {
    .hero {
        height: 580px;
    }
}

@media screen and (min-width: 62em) {
    .hero {
        height: 580px;
        margin-block-end: 30px;
    }
}
.hero.enabled { height: max-content; }
@media screen and (min-width: 48em) {
    .hero.enabled { height: 580px; }
}
.hero.enabled .hero-text {
    display: block;
}

.bg-gradient {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#CCC,#000);
    opacity: 0.5;
}

.hero-content {
    z-index: 1;
}

.hero-content > *:not(:last-child) {
    margin-bottom: 6px;
}

.hero-subtitle {
    font-weight: var(--fw-700);
    font-size: 1.2rem;
}

.hero-title {
    font-weight: var(--fw-700);
    font-size: 1.6rem;
}

.hero-text {
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 12px;
    font-weight: var(--fw-500);
}

.read-more { 
    width: max-content;
    font-weight: var(--fw-700);
    font-size: 1.2rem;
}

.hero-subtitle, 
.hero-text { opacity: 0.7; }

.articles__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 48em) {
    .articles__inner  {
        height: 100%;
        justify-content: space-between;
    }
}

.article-item { gap: 14px; }

.article-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.article-item > img { 
    width: 110px;
}


@media screen and (min-width: 48em) {
    .article-item > img {
        width: 260px;
    }
}
.article-subtitle {
    font-size: 1.2rem;
    font-weight: var(--fw-700);
    color: var(--gray)
}
@media screen and (min-width: 48em) {
    .article-subtitle {
        font-size: inherit;
    }
}
.article-title {
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.6rem;
    font-weight: var(--fw-700);
}
@media screen and (min-width: 48em) {
    .article-title {
        display: block;
        font-size: 2.4rem;
    }
}
.article-author {
    gap: 6px;
}
@media screen and (min-width: 48em) {
    .article-author {
        gap: 10px;
        align-items: center;
    }
}
.article-author img { 
    width: 18px; 
    height: 18px;
}
@media screen and (min-width: 48em) {
    .article-author img { 
        width: 28px; 
        height: 28px;
    }
}
.author-name {
    font-size: 1.2rem;
    font-weight: var(--fw-700);
}
@media screen and (min-width: 48em) {
    .author-name {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 48em) {
    .articles .row {
        gap: 50px;
    }
}

/*-------------------------\
    *JOIN
\-------------------------*/

.join {
    margin-bottom: 20px;
}

.join .h3 {
    margin-block-end: 0;
}

.join .row {
    padding-block-end: 50px;
    border-bottom: 1.5px solid #ECE4DE;
}
@media screen and (min-width: 48em) {
    .join .row {
        align-items: center;
        gap: 50px;
    }
}
.learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 10px;
}
@media screen and (min-width: 48em) {
    .learn-more {
        margin-left: auto;
    }
}
.learn-more ion-icon {
    font-size: 1.5rem;
    font-weight: var(--fw-400);
}

/*-------------------------\
    *FOOTER
\-------------------------*/
.footer {
    padding-block-end: 24px;
}
@media screen and (min-width: 48em) {
    .footer * {
        color: var(--title);
    }
}
.footer-title {
    margin-bottom: 30px;
}

.footer-content {
    display: flex;
    gap: 30px;
}
@media screen and (min-width: 48em) {
    .footer-content {
        justify-content: flex-end;
    }
}
.footer-list-title {
    font-size: 1.6rem;
    font-weight: var(--fw-700);
    margin-bottom: 14px;
}
@media screen and (min-width: 48em) {
    .footer-list-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}
.footer-list-item:not(:last-child) {
    margin-bottom: 6px;
}
@media screen and (min-width: 48em) {
    .footer-list-item:not(:last-child) {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 48em) {
    .footer-list-link {
        color: var(--title);
    }
}
@media screen and (min-width: 48em) {
    .footer .row { 
        gap: 248px; 
    }
    .footer .logo {
        width: max-content;
        margin-bottom: 36px;
    }
}




/*----------------------------------------*\

    *PRODUCTS

\*----------------------------------------*/
/*--------------------------*\
    *product-hero slider
\*--------------------------*/
.products .main-title {
    margin-block-end: 30px;
}
.products-hero {
    position: relative;
    height: 180px;
}

/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
} */

.slider {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.slider__inner {
    width: 100%;
    display: flex;
    transition: transform 1.5s ease-in-out;
}

.slider-item {
    position: relative;
    min-width: 100%;
    height: 180px;
    background-position: center;
    background-size: cover;
}

.slider-content {
    position: absolute;
    width: 100%;
    inset: 0;
    padding: 40px 120px 30px 24px;
    z-index: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: linear-gradient(360deg, #151411 -12.91%, rgba(21, 20, 17, 0) 66.65%);
    z-index: -1;
}

.slider-subtitle {
    width: max-content;
    font-size: 1rem;
    font-weight: var(--fw-500);
    padding: 6px 10px;
    border-radius: 16px;
    margin-block-end: 14px;
}

.slider-title {
    font-size: 1.6rem;
    margin-block-end: 4px;
}

.slider-text {
    font-size: 1.2rem;
}

.slider-buttons {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;
    z-index: 2;
}

.slider-button {
    width: max-content;
}

.slider-button ion-icon {
    color: #FFF;
    opacity: 0.4;
    font-size: 1rem;
    transition: opacity 1s;
}

.slider-button.active ion-icon{
    opacity: 1;
}